@charset "utf-8";
@import "helpers/mixins";
@import "helpers/reset";
/* layout parts */
@import "layout/header";
@import "layout/footer";
@import "layout/aside";


/* styles */
#wrapper{
	overflow: hidden;
	padding-top: 167px;
	@media only screen and (max-width: 736px){
		&{
			padding-top: 40px;
		}
	}
}
.btn{
	display: block;
	background: #f3ab21;
	overflow: hidden;
	text-align: center;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	font-size: 16px;
	line-height: 38px;
	border-bottom: 4px solid #c98c16;
	color: #fff;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 400;
	@include fade(all);
	&:hover{
		opacity: 0.8;
		background: #f3ab21;
		border-bottom: 4px solid #f3ab21;
	}
}
.btn-green{
	@include fade(all);
	display: block;
	border: 2px solid #46b255;
	background: #fff;
	margin-bottom: 30px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	text-align: center;
	position: relative;
	color: #46b255;
	font-size: 22px;
	line-height: 56px;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 500;
	overflow: hidden;
	span{
		display: block;
		position: relative;
	}
	&:hover{
		color: #fff;
	}
	&:before{
		@include fade(all);
		content: "";
		position: absolute;
		top: 0;
		left: -100%;
		bottom: 0;
		background: #f3ab21;
		width: 100%;
	}
	&:hover:before{left: 0;}
	@media only screen and (max-width: 736px){
		&{
			font-size: 15px;
			line-height: 38px;
			margin-bottom: 14px;
		}
	}
}
.text-hiden{
	position: absolute;
	left: -9999px;
}
.link-to-top{
	position: fixed;
	bottom: 10px;
	right: 25px;
	width: 54px;
	height: 54px;
	background: url('../images/link-top.png') no-repeat;
	overflow: hidden;
	text-indent: -9999px;
	z-index: 10;
	@media only screen and (max-width: 736px){
		&{
			position: fixed !important;
			right: 9px !important;
			bottom: 22px !important;
			width: 40px;
			height: 40px;
			background-size: 40px;
		}
	}
}
#content{
	overflow: hidden;
}
.vizual-top{
	overflow: hidden;
	background: #f5f7f7;
	margin-bottom: 28px;
}
.vizual-top img{
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 980px;
}
.two-colums{
	overflow: hidden;
	.two-colums-content{
		overflow: hidden;
		margin-bottom: 10px;
		@media only screen and (max-width: 736px){
			&{
				padding: 0 10px;
				.block{margin: 0 -10px 10px;}
			}
		}
	}
	.colums-list-promo{
		overflow: hidden;
		margin: 0 -10px;
		&.promo2{margin-bottom: 10px;}
		li{
			@include box-sizing;
			float: left;
			width: 50%;
			padding: 0 10px 20px;
			img{
				display: block;
				width: 100%;
			}
		}
		@media only screen and (max-width: 736px){
			&{
				margin: 0;
				li{
					width: 100%;
					padding: 0 0 10px;
				}
			}
		}
	}
}
.banner{
	overflow: hidden;
	margin-bottom: 30px;
	&.ban{
		margin-bottom: 20px;
	}
	img{
		display: block;
		width: 100%;
	}
	@media only screen and (max-width: 736px){
		&{
			margin-bottom: 20px;
		}
	}
}
.block{
	overflow: hidden;
	border: 1px solid #46b255;
	margin-bottom: 30px;
	background: #fff;
	.title{
		overflow: hidden;
		background: #46b255;
		padding: 21px 20px;
		margin-bottom: 20px;
		&.mb0{margin-bottom: 0;}
		h2{
			float: left;
			font-size: 20px;
			line-height: 24px;
			color: #fff;
			font-family: 'Noto Sans JP', sans-serif;
			font-weight: 500;
			&.item01{
				padding-left: 36px;
				background: url('../images/bulet-title01.png') no-repeat 0 50%;
				background-size: 23px auto;
			}
			&.item02{
				padding-left: 36px;
				background: url('../images/bulet-title02.png') no-repeat 0 50%;
				background-size: 28px auto;
			}
			&.item03{
				padding-left: 36px;
				background: url('../images/bulet-title03.png') no-repeat 0 1px;
				background-size: 23px auto;
			}
			&.item04{
				padding-left: 36px;
				background: url('../images/bulet-title04.png') no-repeat 0 50%;
				background-size: 20px auto;
			}
			&.item05{
				padding-left: 36px;
				background: url('../images/bulet-title05.png') no-repeat 0 50%;
				background-size: 16px auto;
			}
		}
		.more{
			float: right;
			padding-left: 18px;
			position: relative;
			font-size: 14px;
			line-height: 24px;
			color: #fff;
			font-family: 'Noto Sans JP', sans-serif;
			font-weight: 400;
			&:hover{text-decoration: underline;}
			&:after{
				@include fade(all);
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				width: 6px;
				background: url('../images/arrow01.png') no-repeat 0 50%;
			}
			&:hover:after{left: 6px;}
		}
	}
	@media only screen and (max-width: 736px){
		&{
			margin: 0 0 10px ;
			border: 0;
			.title{
				padding: 11px 7px;
				margin-bottom: 10px;
				h2{
					font-size: 13px;
					line-height: 16px;
					&.item01{
						padding-left: 24px;
						background-size: 16px auto;
					}
					&.item02{
						padding-left: 24px;
						background-size: 22px auto;
					}
					&.item03{
						padding-left: 24px;
						background-size: 16px auto;
					}
					&.item04{
						padding-left: 24px;
						background-size: 14px auto;
					}
					&.item05{
						padding-left: 24px;
						background-size: 11px auto;
					}
				}
				.more{
					font-size: 12px;
					line-height: 16px;
				}
			}
		}
	}
}
.swiper-top{
	overflow: hidden;
	position: relative;
	padding: 0 60px;
	margin-bottom: 20px;
	.swiper-container {
		width: 100%;
		height: 100%;
	}
	.swiper-slide{
		overflow: hidden;
		a{
			display: block;
			overflow: hidden;
			position: relative;
			border: 1px solid #ccc;
			padding: 3px;
			background: #fff;
			&:hover i:before{
				opacity: 1;
			}
			&:hover i:after{
				opacity: 1;
			}
		}
		i{
			display: block;
			overflow: hidden;
			position: relative;
			margin-bottom: 10px;
			img{
				display: block;
				width: 100%;
			}
			&:after{
				@include fade(all);
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				right: 0;
				background-color:rgba(0, 0, 0, 0.4);
				overflow: hidden;
				opacity: 0;
			}
			&:before{
				@include fade(all);
				display: block;
				content: "詳しく見る";
				position: absolute;
				border: 1px solid #fff;
				font-size: 14px;
				line-height: 24px;
				color: #fff;
				font-family: 'Noto Sans JP', sans-serif;
				font-weight: 400;
				width: 85px;
				left: 50%;
				top: 50%;
				-webkit-transform:translate(-50%, -50%);
				-ms-transform:translate(-50%, -50%);
				transform:translate(-50%, -50%);
				text-align: center;
				font-style: normal;
				opacity: 0;
				z-index: 2;
			}
		}
		strong{
			display: block;
			text-align: center;
			font-size: 16px;
			line-height: 24px;
			color: #46b255;
			font-family: 'Noto Sans JP', sans-serif;
			font-weight: 400;
		}
		span{
			display: block;
			text-align: center;
			font-size: 14px;
			line-height: 24px;
			color: #333;
			font-family: 'Noto Sans JP', sans-serif;
			font-weight: 300;
			margin-bottom: 10px;
		}
	}
	.swiper-button-next{
		background:#f1f1f1 url('../images/arrow03.png') no-repeat 50%;
		width: 30px;
		height: 100%;
		right: 20px;
		top: 0;
		bottom: 0;
		margin: 0;
		&:hover{
			opacity: 0.8;
		}
	}
	.swiper-button-prev{
		background:#f1f1f1 url('../images/arrow02.png') no-repeat 50%;
		width: 30px;
		height: 100%;
		left: 20px;
		top: 0;
		bottom: 0;
		margin: 0;
		&:hover{
			opacity: 0.8;
		}
	}
	@media only screen and (max-width: 736px){
		&{
			padding: 0 40px;
			margin-bottom: 10px;
			.swiper-slide{
				a{
					padding: 2px;
				}
				i{
					margin-bottom: 5px;
				}
				strong{
					font-size: 11px;
					line-height: 16px;
				}
				span{
					font-size: 9px;
					line-height: 16px;
					margin-bottom: 5px;
				}
			}
			.swiper-button-next{
				right: 0;
			}
			.swiper-button-prev{
				left: 0;
			}
		}
	}
}
.customer-voice-list{
	overflow: hidden;
	padding: 0 20px;
	li{
		background: url('../images/separator01.gif') repeat-x;
		overflow: hidden;
		padding: 20px 0;
		&:first-child{background: none;}
		.image{
			float: left;
			margin-right: 34px;
			img{
				display: block;
				width: 100%;
			}
		}
		.text-info{
			overflow: hidden;
			h3{
				font-size: 16px;
				line-height: 24px;
				color: #46b255;
				font-family: 'Noto Sans JP', sans-serif;
				font-weight: 500;
				margin-top: 10px;
			}
			h4{
				font-size: 14px;
				line-height: 24px;
				color: #333;
				font-family: 'Noto Sans JP', sans-serif;
				font-weight: 400;
				margin: 0 0 14px;
			}
			p{
				font-size: 16px;
				line-height: 24px;
				color: #333;
				font-family: 'Noto Sans JP', sans-serif;
				font-weight: 400;
				margin: 0;
				a{
					color: #333;
					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
	}
	@media only screen and (max-width: 736px){
		&{
			padding: 0 10px;
			li{
				background: url('../images/separator01.gif') repeat-x 0 100% !important;
				background-size: 3px auto !important;
				padding: 10px 0;
				.image{
					margin-right: 8px;
					width: 58px;
				}
				.text-info{
					h3{
						font-size: 12px;
						line-height: 16px;
						margin-top: 4px;
					}
					h4{
						font-size: 11px;
						line-height: 16px;
						margin: 0 0 7px;
					}
					p{
						font-size: 12px;
						line-height: 16px;
					}
				}
			}
		}
	}
}
.chosen-list{
	@include box-flex;
	overflow: hidden;
	margin-bottom: 20px;
	li{
		@include box-flex;
		width: 100%;
		&:last-child{display: none;}
		margin: 0 8px;
		.box{
			background: #f3f2ee;
			position: relative;
			padding: 34px 7px 8px;
			h3{
				text-align: center;
				padding-top: 64px;
				color: #46b255;
				font-size: 22px;
				line-height: 30px;
				margin: 0 0 12px;
				font-family: 'Noto Sans JP', sans-serif;
				font-weight: 400;
				width: 100%;
			}
			p{
				width: 100%;
				color: #333;
				font-size: 14px;
				line-height: 20px;
				margin:0;
				font-family: 'Noto Sans JP', sans-serif;
				font-weight: 300;
			}
		}
		&:nth-child(1) h3{
			background: url('../images/icon01.png') no-repeat 50% 0;
			background-size: 54px auto;
		}
		&:nth-child(2) h3{
			background: url('../images/icon02.png') no-repeat 50% 0;
			background-size: 54px auto;
		}
		&:nth-child(3) h3{
			background: url('../images/icon03.png') no-repeat 50% 0;
			background-size: 54px auto;
		}
		&:nth-child(1) .box:after,
		&:nth-child(2) .box:after,
		&:nth-child(3) .box:after{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 0;
			height: 0;
			border-top: 58px solid #46b255;
			border-right: 58px solid transparent;
		}
		&:nth-child(1) .box:before,
		&:nth-child(2) .box:before,
		&:nth-child(3) .box:before{
			content: '';
			position: absolute;
			left: 0;
			top: 4px;
			font-size: 22px;
			line-height: 24px;
			color: #fff;
			font-family: 'Noto Sans JP', sans-serif;
			font-weight: 400;
			z-index: 2;
			width: 30px;
			text-align: center;
		}
		&:nth-child(1) .box:before{content: '1';}
		&:nth-child(2) .box:before{content: '2';}
		&:nth-child(3) .box:before{content: '3';}
	}
	@media only screen and (max-width: 736px){
		&{
			-webkit-flex-wrap: wrap;
			-moz-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			padding: 0 5px;
			li{
				@include box-sizing;
				width: 50%;
				&:last-child{@include box-flex;}
				margin: 0;
				padding: 0 5px 10px;
				.box{
					background: #f3f2ee;
					position: relative;
					padding: 15px 6px 8px;
					h3{
						padding-top: 40px;
						font-size: 14px;
						line-height: 18px;
						margin: 0 0 8px;
					}
					p{
						font-size: 11px;
						line-height: 14px;
					}
				}
				&:nth-child(1) h3,
				&:nth-child(2) h3,
				&:nth-child(3) h3{
					background-size: 37px auto;
				}
				&:nth-child(1) .box:after,
				&:nth-child(2) .box:after,
				&:nth-child(3) .box:after{
					border-top: 38px solid #46b255;
					border-right: 38px solid transparent;
				}
				&:nth-child(1) .box:before,
				&:nth-child(2) .box:before,
				&:nth-child(3) .box:before{
					top: 2px;
					font-size: 14px;
					line-height: 18px;
					width: 20px;
				}
				&:nth-child(1) .box:before{content: '1';}
				&:nth-child(2) .box:before{content: '2';}
				&:nth-child(3) .box:before{content: '3';}
				&:nth-child(4) .box{
					@include box-flex;
					@include center;
					-webkit-justify-content: center;
					-moz-justify-content: center;
					-ms-justify-content: center;
					justify-content: center;
					@include box-sizing;
					width: 100%;
					padding: 8px 6px;
					h4{
						font-size:12px;
						line-height: 22px;
						color: #46b255;
						font-family: 'Noto Sans JP', sans-serif;
						font-weight: 400;
						text-align: center;
					}
				}
			}
		}
	}
}
.step-list{
	overflow: hidden;
	padding: 0 20px;
	li{
		overflow: hidden;
		padding-bottom: 20px;
		.image{
			float: left;
			width: 210px;
			position: relative;
			overflow: hidden;
			margin-right: 17px;
			img{
				display: block;
				width: 100%;
			}
			&:after{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				background: #f3ab21;
				width: 90px;
				text-align: center;
				font-size: 18px;
				line-height: 24px;
				color: #fff;
				font-family: 'Noto Sans JP', sans-serif;
				font-weight: 400;
				text-align: center;
				-moz-border-radius:0 12px 12px 0;
				-webkit-border-radius:0 12px 12px 0;
				border-radius:0 12px 12px 0;
			}
		}
		&:nth-child(1) .image:after{content: 'Step1';}
		&:nth-child(2) .image:after{content: 'Step2';}
		&:nth-child(3) .image:after{content: 'Step3';}
		&:nth-child(4) .image:after{content: 'Step4';}
		.text-info{
			overflow: hidden;
			h3{
				font-size: 18px;
				line-height: 24px;
				color: #46b255;
				font-family: 'Noto Sans JP', sans-serif;
				font-weight: 400;
				margin-bottom: 5px;
			}
			p{
				font-size: 16px;
				line-height: 24px;
				color: #333;
				font-family: 'Noto Sans JP', sans-serif;
				font-weight: 300;
				margin-bottom: 22px;
			}
			span{
				display: block;
				font-size: 14px;
				line-height: 24px;
				color: #333;
				font-family: 'Noto Sans JP', sans-serif;
				font-weight: 300;
			}
		}
	}
	@media only screen and (max-width: 1000px){
		&{
			padding: 0 10px;
			li{
				.image{
					width: 200px;
					margin-right: 10px;
					&:after{
						width: 60px;
						font-size: 12px;
						line-height: 15px;
					}
				}
			}
		}
	}
	@media only screen and (max-width: 736px){
		&{
			li{
				padding: 10px 0;
				&:first-child{padding-top: 0;}
				background: url('../images/separator01.gif') repeat-x 0 100%;
				background-size: 3px auto;
				.image{
					width: 135px;
					margin-right: 10px;
					&:after{
						width: 60px;
						font-size: 12px;
						line-height: 15px;
					}
				}
				.text-info{
					h3{
						font-size: 13px;
						line-height: 16px;
						margin-bottom: 5px;
					}
					p{
						font-size: 11px;
						line-height: 14px;
						margin-bottom: 9px;
					}
					span{
						font-size: 9px;
						line-height: 12px;
					}
				}
			}
		}
	}
}
.available-areas-list{
	overflow: hidden;
	padding: 0 20px;
	li{
		overflow: hidden;
	}
	h3{
		font-family: 'Noto Sans JP', sans-serif;
		font-weight: 500;
		font-size: 18px;
		line-height: 30px;
		color: #333;
	}
	p{
		font-family: 'Noto Sans JP', sans-serif;
		font-weight: 300;
		font-size: 18px;
		line-height: 30px;
		color: #333;
		margin-bottom: 30px;
	}
	@media only screen and (max-width: 736px){
		&{
			padding: 0 10px;
			h3{
				font-size: 12px;
				line-height: 18px;
			}
			p{
				font-size: 11px;
				line-height: 18px;
				margin-bottom: 30px;
			}
		}
	}
}
.banner-box{
	overflow: hidden;
	position: relative;
	margin-bottom: 30px;
	img{
		display: block;
		width: 100%;
	}
	&.add01{
		.btn{
			position: absolute;
			right: 17%;
			top: 50%;
			width: 222px;
			margin-top: -7px;
		}
		.tel{
			position: absolute;
			right: 41%;
			top: 50%;
			-webkit-transform:translateY(-50%);
			-ms-transform:translateY(-50%);
			transform:translateY(-50%);
			span{
				display: block;
				padding: 0 22px 10px 50px;
				border-bottom: 1px solid #46b255;
				margin-bottom: 12px;
				font-family: 'Noto Sans JP', sans-serif;
				font-weight: 500;
				font-size: 42px;
				line-height: 48px;
				color: #46b255;
				background: url('../images/icon-phone01add.png') no-repeat 0 8px;
			}
			i{
				display: block;
				text-align: center;
				font-family: 'Noto Sans JP', sans-serif;
				font-weight: 400;
				font-size: 20px;
				line-height: 24px;
				color: #333;
				font-style: normal;
			}
		}
		.i{
			position: absolute;
			right: 16%;
			top: 19%;
			font-family: 'Noto Sans JP', sans-serif;
			font-weight: 400;
			font-size: 20px;
			line-height: 24px;
			color: #46b255;
			font-style: normal;
		}
		@media only screen and (max-width: 1000px){
			&{
				.tel{
					right: 52%;
					span{
						display: block;
						padding: 0 0 5px 26px;
						border-bottom: 1px solid #46b255;
						margin-bottom: 5px;
						font-size: 24px;
						line-height: 26px;
						background: url('../images/icon-phone01add.png') no-repeat 0 8px;
						background-size: 21px auto;
					}
					i{
						text-align: left;
						font-size: 11px;
						line-height: 14px;
					}
				}
			}
		}
		@media only screen and (max-width: 736px){
			&{
				margin: 0 10px 30px;
				.btn{
					position: absolute;
					right: 17px;
					left: 17px;
					top: auto;
					bottom: 11px;
					width: auto;
					margin-top: 0;
				}
				.tel{
					position: absolute;
					right: auto;
					left: 19px;
					top: 38px;
					-webkit-transform:translateY(0);
					-ms-transform:translateY(0);
					transform:translateY(-0);
					span{
						display: block;
						padding: 0 0 5px 26px;
						border-bottom: 1px solid #46b255;
						margin-bottom: 5px;
						font-size: 24px;
						line-height: 26px;
						background: url('../images/icon-phone01add.png') no-repeat 0 8px;
						background-size: 21px auto;
					}
					i{
						text-align: left;
						font-size: 11px;
						line-height: 14px;
					}
				}
				.i{
					left: 19px;
					top: 20px;
					font-size: 12px;
					line-height: 14px;
				}
			}
		}
	}
}
.list-prod-info{
	border: 1px solid #46b255;
	background: #fff;
	padding: 32px 19px 0;
	margin-bottom: 60px;
	h2{
		background: url('../images/icon04.png') no-repeat 0 3px;
		padding: 0 0 16px 36px;
		font-family: 'Noto Sans JP', sans-serif;
		font-weight: 400;
		font-size: 20px;
		line-height: 22px;
		color: #333;
	}
	p{
		padding-top: 16px;
		font-family: 'Noto Sans JP', sans-serif;
		font-weight: 300;
		font-size: 16px;
		line-height: 30px;
		color: #333;
		margin-bottom: 32px;
		background: url('../images/separator02.gif') repeat-x;
	}
	@media only screen and (max-width: 736px){
		&{
			border: 0;
			padding: 0 9px;
			margin-bottom: 0;
			h2{
				background: url('../images/icon04.png') no-repeat 6px 2px;
				background-size: 19px auto;
				padding: 0 0 8px 28px;
				font-weight: 400;
				font-size: 12px;
				line-height: 14px;
			}
			p{
				padding-top: 10px;
				font-size: 12px;
				line-height: 18px;
				margin-bottom: 20px;
			}
		}
	}
}
.heading-row{
	background: #f3f2ee;
	padding: 13px 0 24px;
	margin-bottom: 30px;
	overflow: hidden;
	@media only screen and (max-width: 1000px) {
		padding: 13px 10px 20px;
		margin-bottom: 20px;
	}
	@media only screen and (max-width: 736px) {
		padding: 10px 10px 15px;
		margin-bottom: 15px;
	}
}
/* breadcrumbs */
.breadcrumbs{
	list-style: none;
	margin-bottom: 13px;
	font: 400 12px/1.4 'Noto Sans JP', sans-serif;
	li{
		display: inline-block;
		vertical-align: top;
		position: relative;
		padding-right: 22px;
		margin-right: 9px;
		a{
			color: #46b255;
		}
		&:after{
			content: '>';
			position: absolute;
			top: 0;
			right: 0;
			width: 24px;
			height: 100%;
			text-align: right;
		}
		&:last-child{
			padding-right: 0 !important;
			margin-right: 0 !important;
		}
		&:last-child:after{
			display: none;
		}
	}
	@media only screen and (max-width: 736px) {
		font-size: 11px;
		li{
			padding-right: 17px;
			margin-right: 4px;
		}
	}
}
h2.page-title{
	font: 500 30px/1.4 'Noto Sans JP', sans-serif;
	padding-left: 53px;
	@media only screen and (max-width: 736px) {
		font-size: 20px;
	}
	&.customers{
		background: url('../images/icon-customers.png') no-repeat 0 50%;
		@media only screen and (max-width: 736px) {
			line-height: 32px;
		}
	}
	&.contact{
		background: url('../images/icon-contact.png') no-repeat 7px 50%;
		@media only screen and (max-width: 736px) {
			line-height: 32px;
			-webkit-background-size: 30px 22px;
			background-size: 30px 22px;
		}
	}
	&.pack{
		background: url('../images/icon-pack.png') no-repeat 7px 50%;
		@media only screen and (max-width: 736px) {
			line-height: 32px;
			-webkit-background-size: 32px 22px;
			background-size: 32px 22px;
		}
	}
	&.sitemap{
		background: url('../images/icon-sitemap.png') no-repeat 13px 50%;
		@media only screen and (max-width: 736px) {
			line-height: 32px;
		}
	}
	&.profile{
		background: url('../images/icon-profile.png') no-repeat 16px 50%;
		@media only screen and (max-width: 736px) {
			line-height: 32px;
		}
	}
	&.privacy{
		background: url('../images/icon-privacy.png') no-repeat 16px 50%;
		@media only screen and (max-width: 736px) {
			line-height: 32px;
		}
	}
	&.construction{
		background: url('../images/icon-construction.png') no-repeat 0 50%;
		@media only screen and (max-width: 736px) {
			line-height: 32px;
			-webkit-background-size: 30px 30px;
			background-size: 30px 30px;
		}
	}
	&.faq{
		background: url('../images/icon-faq.png') no-repeat 8px 50%;
		@media only screen and (max-width: 736px) {
			line-height: 32px;
			-webkit-background-size: 30px 30px;
			background-size: 30px 30px;
		}
	}
	&.price{
		background: url('../images/icon-price.png') no-repeat 10px 50%;
		@media only screen and (max-width: 736px) {
			line-height: 32px;
		}
	}
}
/* customers list */
.customers-list{
	margin-bottom: 40px;
	overflow: hidden;
	.box{
		margin-bottom: 30px;
		border: 1px solid #46b255;
		padding: 20px 20px 25px;
		overflow: hidden;
		p{
			font-size: 16px;
			line-height: 1.5;
			margin: 0;
		}
		.hold{
			margin-bottom: 20px;
			overflow: hidden;
			.image{
				margin-right: 14px;
				width: 30.3%;
				float: left;
				img{
					display: block;
					width: 100%;
				}
			}
			.title{
				overflow: hidden;
				h3{
					font: 500 18px/1.3 'Noto Sans JP', sans-serif;
					color: #46b255;
				}
				h4{
					margin-bottom: 15px;
					font: 500 16px/1.5 'Noto Sans JP', sans-serif;
				}
				P{
					font-size: 18px;
					line-height: 1.3;
				}
			}
		}
		h5.voice{
			margin-bottom: 12px;
			font: 300 18px/23px 'Noto Sans JP', sans-serif;
			padding: 13px 10px 13px 40px;
			background: #f3f3f3 url('../images/icon-voice.png') no-repeat 13px 50%;
		}
	}
	@media only screen and (max-width: 736px) {
		margin-bottom: 20px;
		.box{
			padding: 10px;
			margin-bottom: 20px;
			p{
				font-size: 13px;
			}
			.hold{
				margin-bottom: 15px;
				.image{
					margin: 0 0 10px;
					float: none;
					width: 100%;
				}
				.title{
					h4 {
						font-size: 15px;
						margin-bottom: 10px;
					}
					p{font-size: 14px;}
				}
			}
			h5.voice{
				padding: 5px 5px 5px 35px;
				background-position: 10px 50%;
				-webkit-background-size: 20px 20px;
				background-size: 20px 20px;
				font-size: 16px;
			}
		}
	}
}
.paging{
	list-style: none;
	text-align: center;
	margin-bottom: 50px;
	li{
		display: inline-block;
		vertical-align: top;
		margin: 0 2px;
		a{
			display: inline-block;
			vertical-align: top;
			padding: 0 2px;
			min-width: 30px;
			height: 34px;
			text-align: center;
			font-size: 18px;
			line-height: 34px;
			color: #999;
			background: #f3f2ee;
			@include fade(all);
		}
	}
	li.current a,
	a:hover{
		color: #fff;
		background: #52b760;
	}
	@media only screen and (max-width: 736px) {
		margin-bottom: 30px;
		li a{
			width: 20px;
			min-width: 20px;
			height: 24px;
			line-height: 24px;
			font-size: 15px;
			line-height: 24px;

		}
	}
}
/* contact block */
.contact-block{
	.heading{
		min-height: 136px;
		overflow: hidden;
		background: url('../images/bg-heading-contact.jpg') no-repeat 100% 100%;
		h2{
			font: 400 24px/1.3 'Noto Sans JP', sans-serif;
			margin-bottom: 26px;
		}
		h3{
			margin-bottom: 50px;
			font: 300 16px/1.4 'Noto Sans JP', sans-serif;
		}
	}
	@media only screen and (max-width: 736px) {
		.heading{
			min-height: 125px;
			-webkit-background-size: 73px 68px;
			background-size: 73px 68px;
			h2{
				font-size: 20px;
				margin-bottom: 10px;
			}
			h3{
				font-size: 14px;
				margin-bottom: 15px;
			}
		}

	}
}
.form{
	margin-bottom: 20px;
	overflow: hidden;
	.table{
		margin-bottom: 22px;
		padding: 8px;
		border: 1px solid #46b255;
		overflow: hidden;
		table{
			width: 100%;
			border-collapse: collapse;
			tr{
				th{
					border-top: 1px dotted #6c6c6c;
					background: #f3f3f3;
					padding: 15px 10px 15px 18px;
					text-align: left;
					vertical-align: top;
					font: 300 17px/20px 'Noto Sans JP', sans-serif;
					width: 32%;
					i{
						display: inline-block;
						vertical-align: top;
						font: 600 12px/18px 'Noto Sans JP', sans-serif;
						margin: 1px 0 0 5px;
						padding: 0 4px;
						color: #fff;
						background: #e64141;
					}
					label.mid{
						display: inline-block;
						vertical-align: top;
						padding: 8px 0 9px;
					}
				}
				td{
					border-top: 1px dotted #6c6c6c;
					padding: 15px 42px 15px 20px;
					font: 300 17px/35px 'Noto Sans JP', sans-serif;
					span.txt{
						float: left;
						line-height: 35px;
						padding: 0 9px 0 7px;
					}
					.hold{overflow: hidden;}
					select{
						min-width: 193px;
					}
				}
				&:first-child th,
				&:first-child td{
					border: 0;
				}
			}
		}
	}
	@media only screen and (max-width: 736px) {
		.table{
			padding: 10px;
			table{
				display: block;
				tbody{
					display: block;
				}
				tr{
					display: block;
					th{
						display: block;
						width: 100%;
						@include box-sizing;
						padding: 7px;
						border: 0;
						font-size: 15px;
						label.mid{
							padding: 0;
						}
					}
					td{
						display: block;
						padding: 10px 0 30px;
						border: 0;
						font-size: 15px;
					}
				}
			}
		}
	}
}
input.text,
textarea{
	-webkit-appearance: none;
	appearance: none;
	vertical-align: top;
	width: 100%;
	border: 1px solid #c6c6c6;
	background: #f7f7f7;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	font: 300 17px/23px 'Noto Sans JP', sans-serif;
	height: 35px;
	padding: 5px 10px;
	@include box-sizing;
	outline: none;
	&.short{
		width: 193px;
	}
	&:-moz-placeholder{color:#ccc;}
	&::-moz-placeholder{color:#ccc;}
	&::-webkit-input-placeholder{color:#ccc;}
	&:-ms-input-placeholder{color:#ccc;}
	&::placeholder{color:#ccc;}
	@media only screen and (max-width: 736px) {
		font-size: 15px;
	}
}
textarea{
	height: 140px;
	width: 100% !important;
	overflow: auto;
}
select{
	-webkit-appearance: none;
	appearance: none;
	outline: none;
	border: 1px solid #c6c6c6;
	font: 300 17px/33px 'Noto Sans JP', sans-serif;
	height: 35px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	padding: 0 25px 0 10px;
	@include box-sizing;
	background: #f7f7f7 url('../images/arrow-select.png') no-repeat 100% 50%;
	@media only screen and (max-width: 736px) {
		font-size: 15px;
	}
}
.check-list{
	list-style: none;
	li{
		margin-bottom: 10px;
		overflow: hidden;
		&:last-child{margin-bottom: 0;}
		position: relative;
		line-height: 20px;
	}
	label{
		display: inline-block;
		vertical-align: top;
		position: relative;
		padding-left: 26px;
		font: 300 17px/20px 'Noto Sans JP', sans-serif;
		&:after{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 20px;
			height: 20px;
			background: url('../images/bg-checkbox.png') no-repeat;
			overflow: hidden;
		}
	}
	input[type="checkbox"]:checked + label:after{
		background-position: 0 -20px;
	}
	input[type="checkbox"]{
		-webkit-appearance: none;
		appearance: none;
		margin: 0;
		padding: 0;
		background: none;
		border: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 20px;
		height: 20px;
		opacity: 0;
	}
	@media only screen and (max-width: 736px) {
		padding-left: 7px;
		label{
			font-size: 15px;
		}
	}
}
.check-row{
	margin-bottom: 47px;
	text-align: center;
	position: relative;
	overflow: hidden;
	line-height: 20px;
	input[type="checkbox"]{
		position: absolute;
		top: 0;
		left: 50%;
		width: 20px;
		height: 20px;
		margin: 0 0 0 -10px;
		padding: 0;
		opacity: 0;
	}
	label{
		display: inline-block;
		vertical-align: top;
		padding-left: 30px;
		position: relative;
		font: 300 17px/20px 'Noto Sans JP', sans-serif;
		a{
			color: #333;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
		&:after{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 20px;
			height: 20px;
			background: url('../images/bg-checkbox.png') no-repeat;
			overflow: hidden;
		}
	}
	input[type="checkbox"]:checked + label:after{
		background-position: 0 -20px;
	}
	@media only screen and (max-width: 736px) {
		margin-bottom: 30px;
		label{
			font-size: 15px;
		}
	}
}
#post_form_success {
	text-align: center;
	padding: 10px;
	overflow: hidden;
	background: #fde5d8;
	font-size: 20px;
	line-height: 30px;
	font-weight: bold;
	color: #000;
	display: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.button-send-holder{
	margin-bottom: 31px;
	text-align: center;
	input.btn-send{
		-webkit-appearance: none;
		appearance: none;
		margin: 0 auto;
		padding: 0;
		text-align: center;
		display: block;
		min-width: 291px;
		font: 500 22px/57px 'Noto Sans JP', sans-serif;
		border: 4px #34883c solid;
		border-width: 0 0 4px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		background: #46b255;
		color: #fff;
		outline: none;
		cursor: pointer;
		@include fade(all);
		&:hover{
			opacity: 0.8;
			border-color: #46b255;
		}
	}
	@media only screen and (max-width: 736px) {
		margin-bottom: 20px;
		input.btn-send{
			font-size: 20px;
			line-height: 40px;
			min-width: 200px;
		}
	}
}
.notes-txt{
	margin-bottom: 18px;
	font: 300 16px/1.4 'Noto Sans JP', sans-serif;
	&.txt2{
		line-height: 1.2;
		margin: 0 0 15px 5px;
	}
	@media only screen and (max-width: 736px) {
		font-size: 13px;
		margin-bottom: 15px;
	}
}
/* site map */
.site-map{
	list-style: none;
	margin-bottom: 40px;
	padding: 43px 30px 5px 60px;
	border: 1px solid #46b255;
	@include box-flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	font: 300 16px/24px 'Noto Sans JP', sans-serif;
	overflow: hidden;
	li{
		padding: 0 10px 40px 0;
		width: 50%;
		@include box-sizing;
		a{
			display: inline-block;
			vertical-align: top;
			padding-left: 18px;
			position: relative;
			color: #333;
			@include fade(opacity);
			&:after{
				content: '';
				position: absolute;
				top: 5px;
				left: 0;
				width: 14px;
				height: 14px;
				background: #46b255;
			}
			&:hover{
				opacity: 0.8;
			}
		}
	}
	@media only screen and (max-width: 1000px) {
		padding: 38px 10px 0 20px;
	}
	@media only screen and (max-width: 736px) {
		padding: 20px 20px 0;
		margin-bottom: 30px;
		li{
			padding: 0 0 20px;
			width: 100%;
		}
	}
}
/* profile block */
.profile-block{
	margin-bottom: 20px;
	overflow: hidden;
	.table{
		padding: 8px;
		margin-bottom: 30px;
		border: 1px solid #46b255;
		table{
			width: 100%;
			border-collapse: collapse;
			tr{
				th,
				td{
					font: 300 16px/1.5 'Noto Sans JP', sans-serif;
					border-top: 1px dotted #6c6c6c;
					padding: 20px 10px 20px 20px;
					text-align: left;
				}
				&:first-child th,
				&:first-child td{
					border: 0;
				}
				th{
					padding-left: 18px;
					width: 32%;
					background: #f3f3f3;
				}
			}
		}
	}
	.map{
		border: 1px solid #46b255;
		margin-bottom: 20px;
		overflow: hidden;
		iframe{
			display: block;
			width: 100% !important;
			height: 369px !important;
		}
	}
	@media only screen and (max-width: 736px) {
		margin-bottom: 10px;
		.table{
			margin-bottom: 20px;
			padding: 10px 10px 0;
			table,
			table tbody,
			table tr,
			table tr th,
			table tr td{
				display: block;
				width: 100%;
				@include box-sizing;
			}
			table tr th{
				padding: 7px;
				font-size: 15px;
				border: 0;
			}
			table tr td{
				padding: 10px 7px 30px;
				font-size: 15px;
				border: 0;
			}
		}
		.map iframe{
			height: 300px !important;
		}
	}
}
/* privacy block */
.privacy-block{
	margin-bottom: 20px;
	padding: 23px 20px 0;
	border: 1px solid #46b255;
	font: 400 16px/30px 'Noto Sans JP', sans-serif;
	overflow: hidden;
	p{
		margin: 0 0 30px;
		&.last{
			margin-bottom: 23px;
		}
	}
	h3{
		font: 600 16px/30px 'Noto Sans JP', sans-serif;
	}
	a{
		color: #333;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
	@media only screen and (max-width: 736px) {
		padding: 10px 10px 0;
		font-size: 13px;
		line-height: 20px;
		p{
			margin-bottom: 20px;
			&.last{
				margin-bottom: 15px;
			}
		}
		h3{
			font-size: 13px;
		}
	}
}
/* construction box */
.construction-box{
	margin-bottom: 25px;
	padding: 20px;
	border: 1px solid #46b255;
	overflow: hidden;
	.image-list{
		list-style: none;
		position: relative;
		margin-bottom: 25px;
		@include box-flex;
		@include space-between;
		li{
			width: 30.4%;
			a{
				display: block;
				position: relative;
				color: #333;
				&:before{
					content: '';
					position: absolute;
					z-index: 2;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: rgba(0,0,0,0.5);
					opacity: 0;
					@include fade(opacity);
				}
				.hover-text{
					position: absolute;
					z-index: 3;
					top: 50%;
					left: 0;
					width: 100%;
					text-align: center;
					font: 500 14px/1.2 'Noto Sans JP', sans-serif;
					color: #fff;
					opacity: 0;
					-webkit-transform:translateY(-50%);
					-ms-transform:translateY(-50%);
					transform:translateY(-50%);
					@include fade(opacity);
				}
				&:hover:before{opacity: 1;}
				&:hover .hover-text{opacity: 1;}
			}
			.image{
				display: block;
				margin-bottom: 2px;
				img{
					display: block;
					width: 100%;
				}
			}
			h3{
				font: 300 16px/1.4 'Noto Sans JP', sans-serif;
				text-align: center;
			}
		}
		&:before,
		&:after{
			content: '';
			position: absolute;
			top: 50%;
			left: 32.3%;
			width: 10px;
			height: 14px;
			margin: -20px 0 0 -5px;
			background: url('../images/arrow-right.png') no-repeat;
			overflow: hidden;
		}
		&:after{
			left: 67.4%;
		}
	}
	.info{
		width: 100%;
		border-collapse: collapse;
		tr{
			th,
			td{
				padding: 12px 20px 12px 13px;
				font: 300 16px/1.5 'Noto Sans JP', sans-serif;
				text-align: left;
			}
			th{
				width: 110px;
				font-weight: 400;
				padding-right: 0;
			}
			&:nth-child(odd) th,
			&:nth-child(odd) td{
				background: #f3f3f3;
			}
		}
	}
	@media only screen and (max-width: 736px) {
		padding: 10px;
		margin-bottom: 20px;
		.image-list{
			-webkit-flex-wrap: wrap;
			-moz-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			margin-bottom: 10px;
			&:after,
			&:before{
				display: none;
			}
			li{
				width: 100%;
				margin-bottom: 20px;
				h3{
					font-size: 13px;
				}
			}
		}
		.info tr{
			th,
			td{
				padding: 7px 10px;
				font-size: 13px;
				line-height: 1.4;
			}
			th{
				padding-right: 0;
				width: 30%;
			}
		}
	}
}
.items{
	margin: 88px 0 78px;
	text-align: center;
	font: 300 30px/1.4 'Noto Sans JP', sans-serif;
	@media only screen and (max-width: 1000px) {
		margin: 60px 0;
	}
	@media only screen and (max-width: 736px) {
		margin: 40px 0;
		font-size: 20px;
	}
}
/* faq list */
.faq-list{
	list-style: none;
	li{
		margin-bottom: 20px;
		border: 1px solid #46b255;
		font: 300 16px/24px 'Noto Sans JP', sans-serif;
		overflow: hidden;
		.q,
		.a{
			padding: 18px 12px 23px 15px;
			overflow: hidden;
		}
		.q{
			padding: 12px 12px 12px 15px;
			background: #f3f3f3;
			overflow: hidden;
		}
		.ttl{
			width: 26px;
			float: left;
			font: 500  20px/24px 'Noto Sans JP', sans-serif;
			color: #46b255;
		}
		.a .ttl{
			color: #f3ab21;
		}
		p{
			display: block;
			overflow: hidden;
		}
		p a{
			text-decoration: underline;
			color: #333;
			&:hover{
				text-decoration: none;
			}
		}
	}
	@media only screen and (max-width: 736px) {
		margin-bottom: 30px;
		li{
			margin-bottom: 10px;
			font-size: 13px;
			line-height: 20px;
			.q,
			.a{
				padding: 10px 10px 10px 10px;
				.ttl{
					width: 20px;
					font-size: 18px;
					line-height: 20px;
				}
			}
		}
	}
}
/* price table */
.price-table{
	margin-bottom: 30px;
	padding: 8px;
	border: 1px solid #46b255;
	overflow: hidden;
	table{
		width: 100%;
		border-collapse: collapse;
		tr{
			th{
				background: #f3f3f3;
				font: 500 16px/23px 'Noto Sans JP', sans-serif;
				padding: 13px 18px 13px 15px;
				text-align: left;
				&:last-child{
					width: 110px;
					padding-left: 0;
					text-align: right;
				}
			}
			td{
				padding: 11px 18px 12px 15px;
				font: 300 16px/24px 'Noto Sans JP', sans-serif;
				border-top: 1px dotted #6c6c6c;
				&:last-child{
					width: 110px;
					padding-left: 0;
					text-align: right;
				}
				h3{
					font: 300 16px/24px 'Noto Sans JP', sans-serif;
					color: #46b255;
				}
			}
			&:nth-child(2) td{
				padding-top: 15px;
				border: 0;
			}
		}
	}
	@media only screen and (max-width: 1000px) {
		table{
			tr{
				th,
				td{
					font-size: 14px;
					line-height: 20px;
					padding: 12px 10px 12px 12px;
				}
			}
		}
	}
	@media only screen and (max-width: 736px) {
		padding: 10px;
		margin-bottom: 20px;
		table{
			tr{
				th,
				td{
					padding: 8px 5px;
					font-size: 13px;
					line-height: 18px;
					&:last-child{
						width: 90px;
					}
				}
			}
		}
	}
}
/* contact banner */
.contact-banner{
	margin-bottom: 30px;
	border: 4px solid #46b255;
	background: url('../images/bg-contact-banner.jpg') no-repeat 50% 50%;
	-webkit-background-size: cover;
	background-size: cover;
	padding: 16px 20px 21px;
	h3{
		margin-bottom: 22px;
		text-align: center;
		font: 500 18px/1.66 'Noto Sans JP', sans-serif;
	}
	.hold{
		overflow: hidden;
		.btn{
			float: left;
			width: 45%;
			margin-right: 20px;
			font: 500 22px/57px 'Noto Sans JP', sans-serif;
		}
		.phone-col{
			overflow: hidden;
			.phone{
				margin-bottom: 5px;
				a{
					display: inline-block;
					vertical-align: top;
					padding-left: 40px;
					font: 500 40px/36px 'Noto Sans JP', sans-serif;
					color: #46b255;
					background: url('../images/ico-phone-banner.png') no-repeat 0 50%;
					opacity: 1;
					@include fade(opacity);
					&:hover{
						opacity: 0.8;
					}
				}
			}
			.small{
				display: block;
				font: 400 14px/1.2 'Noto Sans JP', sans-serif;
				margin: 0 12% 0 0;
				text-align: right;
			}
		}
	}
	@media only screen and (max-width: 1000px) {
		padding: 15px 10px;
		h3{
			font-size: 16px;
			margin-bottom: 15px;
		}
		.hold{
			.btn{
				font-size: 18px;
				line-height: 50px;
				margin-right: 15px;
			}
			.phone-col{
				.phone{
					a{
						font-size: 28px;
						line-height: 30px;
						padding-left: 37px;
						-webkit-background-size: 30px 30px;
						background-size: 30px 30px;
						letter-spacing: -0.5px;
					}
				}
				.small{
					margin-right: 5%;
					font-size: 12px;
				}
			}
		}
	}
	@media only screen and (max-width: 736px) {
		padding: 10px;
		border-width: 2px;
		margin-bottom: 20px;
		h3{
			font-size: 13px;
			line-height: 1.4;
		}
		.hold{
			text-align: center;
			.btn{
				display: inline-block;
				vertical-align: top;
				width: 70%;
				margin-bottom: 20px;
				float: none;
			}
			.phone-col{
				.phone{
					margin-bottom: 5px;
				}
				.small{
					margin: 0 0 5px;
					text-align: center;
					font-size: 11px;
				}
			}
		}
	}
}
/* popups */
.fader {
	position: fixed;
	left: -100%;
	top: 0;
	width: 100% !important;
	height: 100% !important;
	background: rgba(119, 119, 119, 0.7);
	opacity: 0;
	z-index: 980;
	@include fade(opacity);
	&.visible{
		left: 0;
		opacity: 1;
	}
}
.popup {
	left: -100% !important;
	position: absolute;
	top: 50%;
	z-index: 985;
	width: 96vw;
	opacity: 0;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
	box-shadow: 0 0 10px rgba(0,0,0,0.6);
	@include fade(opacity);
	background: #fff;
	.hold{
		padding: 10px;
		overflow: hidden;
		img{
			display: block;
			width: 100%;
		}
	}
	.popup-close{
		position: absolute;
		top: -15px;
		right: -15px;
		width: 30px;
		height: 30px;
		background: url('../images/btn-close-popup.png') no-repeat;
		text-indent: -9999px;
		overflow: hidden;
		opacity: 1;
		@include fade(opacity);
		&:hover{
			opacity: 0.5;
		}
	}
	&.visible {
		left: 50% !important;
		opacity: 1;
	}
	@media only screen and (max-width: 736px) {
		width: 92vw;
	}
}
/* styles end */